<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace ="views :: head"></head>
<body class="container">
    <h1 th:text="${title}">Add</h1>
  <nav th:replace ="views :: navigation"> </nav>

    <form method="post" style="..." th:object="$enorllment">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}"/>
            <span th:errors="*{name}" class="error"></span>

        </div>
        <input type="submit" value="Create Enrollment"/>
    </form>

  </body>
</html>